{% if settings.collections_quickview %}
  <div id="quick-view" class="modal fade">
    <div class="modal-content">
      <div class="modal-body">
      </div>
    </div>
  </div>
{% endif %}
{% if settings.upsell_popup_enable %}
  <div id="upsell-popup" class="modal fade">
    <div class="modal-content">
       <a href="javascript:void(0);" class="upsell-no-btn close"><i class="fa fa-times"></i></a>
      <img src="{{ 'special_offer.png' | asset_url }}" alt="Offer" class="modal--offer-image" />
      <div class="modal-body">
        <img src="{{ all_products[settings.free_product].images.first | img_url: 'compact' }}" alt="{{ all_products[settings.free_product].images.first.alt | escape }}" class="modal--free-image" />
        <h4 class="upsell-heading">{{ settings.upsell_headline_text }}</h4>
        <div class="upsell-bottom">
          <button type="button" class="btn btn-default upsell-yes-btn">{{ settings.yes_button_text }}</button>
          <button type="button" class="btn btn-default upsell-no-btn">{{ settings.no_button_text }}</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% if settings.atc_cart_style == "popup_modal" or settings.atc_cart_style == "slide"%}
  <div id="cartAddItemNotification" class="addCart-notification-popup modal fade">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="addCart-popup-message">Cart</h4>
        <a href="javascript:void(0);" class="addCart-popup-close close"><i class="fa fa-times"></i></a>
      </div>
      <div class="modal-body">
        <table class="addCart-product-info">
          <tbody id="popup-cart-body">
            
          </tbody>
        </table>
      </div>
      <div class="modal-footer related_popup_footer">
        <table class="addCart-footer">
          <tbody>
            <tr>
              <td style="text-align: center;"><span class="addCart-subtotal-text">{{ "cart.general.total" | t }}:&nbsp;</span><span class="addCart-subtotal"></span></td>
            </tr>
          </tbody>
        </table>
        <span class="btn btn--secondary btn--full close">{{ 'cart.general.continue_browsing_html' | t }}</span>
        <a href="/cart" class="btn btn--secondary btn--full">{{ 'cart.general.button' | t }}</a>
        <a href="/checkout" class="btn btn--full cart__checkout Checkout">
          <img src="{{ 'checkout-button-icon.png' | asset_url }}" alt="" class="addIcon" />
          <span id="CheckoutText">{{ 'cart.general.checkout' | t }}</span>
        </a>
        {% if settings.enable_cartstrip_text %}
          <div class="popup_model_shipping_text" id="popup_model_shipping_text">{{ settings.cart_popup_text }}{% if settings.cart_display_user_country %}&nbsp;<span class="countryName"></span>{% endif %}{% if settings.cart_display_user_country_flag %}&nbsp;<span class="flagImg f32"></span>{% endif %}</div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
{% if template == 'index' %}
{% if settings.newsletter_popuppp %}

  <script type="text/javascript">
    $(function() {
      var popup = $.cookie('popup');
      var cookie_enabled = {% if settings.newsletter_popup_days != blank and settings.newsletter_popup_days != "0" %}true{% else %}false{% endif %};
      if (cookie_enabled && popup == 'open') {
        return false;
      } else {
        setTimeout( function() {
          timber.modalBox();
          {% if settings.newsletter_popup_max_width != blank %}
            $("#newsletter-popup").find('.modal-content').css('max-width', "{{ settings.newsletter_popup_max_width }}px");
          {% else %}
            $("#newsletter-popup").find('.modal-content').css('max-width', "600px");
          {% endif %}
          $("#newsletter-popup").addClass('in');
        }, {% if settings.newsletter_popup_seconds != blank %}{{ settings.newsletter_popup_seconds }}{% else %}2{% endif %}*1000);
      }
      if (cookie_enabled) {
        $.cookie('popup', 'open', { expires: {{ settings.newsletter_popup_days }} });
      }
      $('#newsletter-popup').click(function(){
        $('#newsletter-popup').removeClass("in");
      });
      $('.modal-content').click(function(e){
        e.stopPropagation();
      });
      $('.close-button').click(function(e){
        $('#newsletter-popup').removeClass("in");
      });
    });
  </script>
{% endif %}
{% endif%}
<style>
/*======================================
         Entry Popups 
======================================*/
.modal .modal-body {
    padding: 0;
}
.close-button {
    position: absolute;
    z-index: 999;
}
.modal .modal-content{
  border:none;
}  
.entry-popups-wrap{
   font-family: 'Roboto', sans-serif;
   color: #0F1008;
   background: #1A2B32;
   margin: 0 auto;
   position: relative;
   overflow: hidden;
   padding: 10px;
}
.entry-popups-inner{
   background-image: url('https://cdn.shopify.com/s/files/1/1291/3935/files/entry-popups-bg.png?15198011989956276772');
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   background-color: #fff;
   padding: 0 32px;
}
.entry-popups-header img{
   margin: 0 auto; 
}
.clr:after{
   content: '';
   display: table;
   clear: both;
   height: 0;
}
.etp-video-title {
   font-size: 20px;
   font-weight: 900;
   color: #B7256C;
   letter-spacing: 0.4px;
   line-height: 50px;
   background-image: url(https://cdn.shopify.com/s/files/1/1291/3935/files/green-devider.png?1448760…);
    background-repeat: no-repeat;
    background-position: left 35px;
    padding-bottom: 16px;
  	padding-right: 10px;
    display: inline-block;
    
}
.etp-video-title span{
   color: #111308;
}
.etp-video-growth {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 900;
    color: #B7256C;
    line-height: 26px;
}
.etp-video-wrap{
    margin-top: 40px;
    margin-bottom: 5px;
}
.etp-video-left, .etp-video-right{
   display: inline-block;
   vertical-align: middle;
   width: 50%;
}
.etp-video-right{
   margin-left: -5px;
}
.etp-video-video-img {
    display: inline-block;
    border: solid 3px #555;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
      line-height: 0;
}
.entry-popups-header{
	text-align: center;
}
.etp-form-title {
    color: #0F1008;
    font-size: 19px;
    text-align: center;
    padding: 20px 35px;
    ;line-height: 23px;
}
.etp-form-wrap .etp-input-wrap{
   position: relative;
}
.etp-input-wrap .etp-input-icon{
   position: absolute;
   top: 50%;
   right: 20px;
   -webkit-transform: translateY(-50%);
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.etp-input-wrap{
   margin-bottom: 10px;
}
.etp-input-wrap input {
    font-size: 14px;
    padding: 8px 15px;
      padding-top: 8px;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 16px;
    color: #0F1008;
    background-color: #fff;
    font-weight: 400;
    border: 1px solid #fff;
    border-radius: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    padding-top: 10px;
    box-shadow: 0 1px 8px 1px rgba(0,0,0,0.4);
}
.etp-form-btn-wrap{
   text-align: center;
}
.etp-form-btn{
   position: relative;
   display: inline-block;
   margin-bottom: 10px;
}
#newsletter-popup .etp-form-btn input[type="submit"]{
   font-weight: 600;
   font-size: 20px;
   color: #0F1008 !important;
   line-height: 24px;
   height: 43px;
   padding: 10px 32px;
   padding-right: 84px;
   text-align: center;
   width: auto;
   text-transform: uppercase;
   display: inline-block;
/*    border-radius: 40px; */
   letter-spacing: 0.2px;
   -webkit-appearance: none;
   vertical-align: middle;
   -webkit-transition: all 0.3s ease-in-out;
   -ms-transition: all 0.3s ease-in-out;
   transition: all 0.3s ease-in-out;
   box-shadow: none;
   margin: 0;
   position: relative;
   overflow: hidden;
}
.etp-form-btn-errow {
   position: absolute;
   top: 0;
   bottom: 0;
   z-index: 2;
   width: 32px;
   right: 32px;
   border-left: solid 2px rgba(0,0,0,0.1);
}
.etp-form-btn-errow img{
   margin-top: 12px;
margin-left: 11px;
}
.etp-ftr-des-wrap{
   text-align: center;
   padding-bottom: 10px;
}
.etp-ftr-des-wrap p{
   color: #666;
   font-size: 13px;
   margin-bottom: 7px;
   line-height: 7px;
}
.etp-ftr-des-wrap .head{
	margin-bottom: 13px;
}
.first_51{
  font-size: 40px;
  display: inline-block;
  font-weight: 900;
  line-height: normal;
  position: relative;
  top: -12px;
}
.first_511{
  display: inline-block;
}
/*======================================
      End Style
======================================*/
  @media only screen and (max-width: 767px) {
  #newsletter-popup .etp-form-btn input[type="submit"] {
    font-size:12px;
  }
    .etp-input-wrap input {
    font-size: 11px !important;
}
      .etp-video-left, .etp-video-right {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding-bottom: 10px;
    margin: 0 auto;
    text-align: center;
}
  }
</style>